:root {
    --pointer: url('../assets/art/cursors/pointer.png') 0 0, pointer;
    --color-bg: #2b2b2b;
    --color-text: #fcf0f0;
    --color-border: #404040;
    --color-shadow: rgba(99, 99, 99, 0.2);
}

body {
    background: var(--color-bg);
    color: var(--color-text);
    cursor: url('../assets/art/cursors/auto.png') 0 0, auto;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.back-button {
    border-color: transparent;
    background-color: transparent;
    justify-self: start;
    text-align: start;

    color: var(--color-text);
    cursor: var(--pointer);
}

#color {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: var(--color-shadow) 0px 2px 8px 0px;
    margin: 25px;
}

#colorForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--color-bg);
    border: solid 2px var(--color-border);
    color: var(--color-text);
}