:root {
    --pointer: url('../assets/art/cursors/pointer.png') 0 0, pointer;
}

body {
    background: #2b2b2b;
    color: #fcf0f0;
    cursor: url('../assets/art/cursors/auto.png') 0 0, auto;

}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.back-button {
    border-color: transparent;
    background-color: transparent;
    justify-self: start;
    text-align: start;

    color: var(--color-text);
    cursor: var(--pointer);
}

#color {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 25px;
}