:root {
    --accent: rgb(236, 238, 243);
    --bg: #779fd8;
}

html {
    background-color: var(--bg);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.back-button {
    border-color: transparent;
    background-color: transparent;
    position: absolute;
    cursor: pointer;
    left: 0px;
    color: var(--accent);
}

#logo {
    width: 10vw;
}

main {
    margin-top: 10px;
    width: calc(90% - 20px);
    background-color: var(--accent);
    padding: 20px;
    border-radius: 5px;
}