:root {
    --font-size-base: 1.1em;
    --font-weight-bold: bold;
    --font-color: rgb(254, 254, 255);
    --button-bg: #f7c5d4;
    --button-hover-bg: #e4dadd;
    --container-bg: #c9859a;
    --paragraph-bg: #f9f9f9;
    --text-color: #c9859a;
    --box-shadow-white: white;
    --box-shadow-blue: rgb(185, 218, 251);
    --shadow: rgba(53, 33, 55, 0.316);
}

@font-face {
    font-family: "pix";
    src: url("./assets/fonts/rainyhearts.ttf");
}

body {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    font-family: pix;
    font-size: 1.3rem;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    background-image: url("./assets/art/background.png");
    background-repeat: repeat;
    background-size: 130px;
}

.hoi {
    align-self: center;
    width: 60%;
    display: flex;
    background-color: var(--container-bg);
    border-radius: 10px;
    margin-top: 10vh;
    color: var(--text-color);
    flex-wrap: wrap;
    padding: 20px;
    width: 570px;

    /* circle radius */
    --r: 25px;
    aspect-ratio: 1;
    mask:
        linear-gradient(#ccaeae 0 0) no-repeat 50%/calc(100% - 1.2*var(--r)) calc(100% - 1.2*var(--r)),
        radial-gradient(farthest-side, #000 97%, #0000) 0 0/calc(1.2*var(--r)) calc(1.2*var(--r)) round;

    @media (max-width:700px) {
        width: 80vw;
        margin: 0;
    }
}

.hoi p {
    margin: 0;
    background-color: var(--paragraph-bg);
    padding: 25px;
    border-radius: 20px;
    height: fit-content;
    margin: 20px;
    box-shadow: 3px 3px 0px var(--shadow)
}

.hoi .pixel-me {
    max-width: min(100px, 15vw);
    align-self: end;
    margin-bottom: -80px;
}

.me {
    display: flex;
    flex-direction: row;
}

.site-links {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: fit-content;
    padding: 40px;
    align-self: center;
}

.site-links button {
    display: block;
    max-width: min(200px, 75vw);
    min-width: 100px;
    width: 100%;

    cursor: pointer;
    border: none;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--paragraph-bg);
    transition: all 0.2s;
    color: var(--text-color);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-base);
    font-family: pix;

    box-shadow: 3px 3px 0px var(--shadow);

    &:hover {
        background-color: var(--button-hover-bg);
        box-shadow: none;
        outline: 1px solid var(--shadow);
    }

    &:nth-child(odd):hover {
        transform: rotate(20deg);
    }

    &:nth-child(even):hover {
        transform: rotate(-20deg);
    }
}

div.unmute {
    display: flex;
    flex-direction: row;
    height: 10px;
    align-self: top;
    align-items: start;
    justify-content: start;
    width: 100%;
    margin: 0 45%;
    margin-top: 20px;
}

#mute {
    align-self: center;
    background-color: transparent;
    border: none;
    cursor: pointer;

    img {
        width: 40px;
        image-rendering: pixelated;
        image-rendering: crisp-edges;
        transition: all 0.2s;

        &:hover {
            scale: 1.2;
        }
    }
}

#click-unmute-info {
    background-color: transparent;
    color: var(--font-color);
    position: relative;
    animation-name: hover;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    margin-top: -28px;
    margin-left: -20px;
    word-wrap: nowrap;
    width: 200px;
}

@keyframes hover {
    from {
        bottom: 5px
    }

    to {
        bottom: 0px
    }
}