main {
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
    border: none;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
}

.hoi {
    align-self: center;
    width: 60%;
    display: flex;
    background-color: #242424;
    border-radius: 10px;
    margin: 20px;
    color: white;

    p {
        margin: 0;
        background-color: #393a39a5;
        padding: 25px;
        border-radius: 20px;
        height: fit-content;
        margin: 20px;

    }

    .pixel-me {
        max-width: min(100px, 15vw);
        align-self: end;
        margin-bottom: -20px;
    }
}


.site-links {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    button {
        max-width: min(200px, 75vw);
        min-width: 100px;
    }
}