.midi {
    display: flex;
    gap: -10;

    button {
        margin: -10;
        background-color: white;
        border: 1px solid gray;
        height: 200px;
        width: 30px;

        &[class$="-sharp"] {
            background: black;
            color: white;
        }

        &:hover {
            filter: brightness(0.9);
            cursor: pointer;
        }
    }
}