:root {
    --background-color: #f9edf0;
    --background-container: #e6d6dd;
    --screen-lighter: #8f8f8f;
    --screen-lights: #50584b64;
    --screen-darks: #2c2c2b;
}

@font-face {
    font-family: "pix";
    src: url("../../assets/fonts/rainyhearts.ttf");
}

body {
    background-color: var(--background-color);
}

.tomogachi-container {
    background-color: var(--background-container);
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .tomogachi-buttons {
        position: absolute;
        left: -40px;

        buttons {
            background-color: transparent;
            border: none;
        }

        img {
            background-color: red;
            border: none;
            image-rendering: pixelated;
        }

        :hover {
            cursor: pointer;
        }
    }
}

#start {
    width: 100px;
    position: absolute;
    margin-top: 30px;
    background-color: transparent;
    font-family: pix;
    font-weight: bold;
    font-size: 40px;
    border-color: var(--screen-lights);
    color: var(--screen-lighter);
    border-radius: 20px;
    transform: rotate(10deg);

    &:hover {
        cursor: pointer;
        background-color: var(--screen-darks);
    }
}

#tomogachi-shell {
    width: 600px;
    image-rendering: pixelated;
}

#canvas {
    display: block;
    margin-top: 25px;
    width: 160px;
    height: 160px;
    position: absolute;
    border-radius: 20px;
}