:root {
    --background-color: #f9edf0;
    --background-container: #e6d6dd;
    --text: #7c6d74;
    --screen-lighter: #8f8f8f;
    --screen-lights: #50584b64;
    --screen-darks: #2c2c2b;
}

@font-face {
    font-family: "pix";
    src: url("../../assets/fonts/rainyhearts.ttf");
}

body {
    background-color: var(--background-color);
    color: var(--text);
    font-family: pix;
    display: flex;
    flex-direction: column;
}

button.back-button {
    background-color: transparent;
    border: none;
    color: var(--text);
    align-self: flex-start;
}

.tomogachi-container {
    background-color: var(--background-container);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 600px;
    justify-self: center;
    align-self: center;
    margin-top: 30px;


    @media (max-width: 600px) {
        transform: scale(0.75);
    }

    @media (max-width: 500px) {
        transform: scale(0.6);
    }

    @media (max-width: 400px) {
        transform: scale(0.5);
    }

    .tomogachi-buttons {
        position: absolute;
        bottom: 145px;

        button {
            padding: 0;
            border: none;
            background-color: transparent;
            border-radius: 30px;
        }

        img {
            border: none;
            image-rendering: pixelated;
            width: 30px;

            position: relative;
            top: -6.5px;
            margin: 3.5px;
        }

        .middle-device-button {
            button {
                height: 4px;
                background-color: red;
            }

            img {
                width: 50px;
                top: 10px;
                margin: 0;
                position: static;
            }
        }

        :hover {
            cursor: pointer;
            filter: brightness(95%);
        }

        :active {
            cursor: pointer;
            filter: brightness(90%);
            transform: scale(1.05);
        }
    }
}

#start {
    width: 100px;
    position: absolute;
    margin-top: 30px;
    background-color: transparent;
    font-family: pix;
    font-weight: bold;
    font-size: 40px;
    border-color: var(--screen-lights);
    color: var(--screen-lighter);
    border-radius: 20px;
    transform: rotate(10deg);

    &:hover {
        cursor: pointer;
        background-color: var(--screen-darks);
    }
}

#tomogachi-shell {
    width: 600px;
    image-rendering: pixelated;
}

#canvas {
    display: block;
    margin-top: 25px;
    width: 160px;
    height: 160px;
    position: absolute;
    border-radius: 20px;
}